@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace EthicAI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <!--<link href="NFT JOGO.styles.css" rel="stylesheet" />-->
    <script src="https://cdn.jsdelivr.net/npm/@@metamask/dapp"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">


    <title>EthicAI | Ensinando etica para as maquinas</title>

    <meta name="description" content="GoodGames - Bootstrap template for communities and games store">
    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="_nK">

    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <link href="~/assets/css/custom.css?a=@Guid.NewGuid().ToString()" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script defer src="assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="assets/vendor/fontawesome-free/js/v4-shims.js"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="assets/vendor/ionicons/css/ionicons.min.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="assets/vendor/flickity/dist/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/default-skin/default-skin.css">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/summernote/dist/summernote-bs4.css">

    <!-- GoodGames -->
    <link rel="stylesheet" href="assets/css/goodgames.css?a=@Guid.NewGuid().ToString()">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">

 

    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>

    
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
       @*  <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a> *@
    </div>

    <script src="_framework/blazor.server.js"></script>
 
    
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>

    <!-- START: Scripts -->
    <!-- Object Fit Polyfill -->
    <script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

    <!-- GSAP -->
    <script src="assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
    <script src="assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

    <!-- Popper -->
    <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Sticky Kit -->
    <script src="assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

    <!-- Jarallax -->
    <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

    <!-- imagesLoaded -->
    <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Flickity -->
    <script src="assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

    <!-- Photoswipe -->
    <script src="assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
    <script src="assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

    <!-- Jquery Validation -->
    <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- Jquery Countdown + Moment -->
    <script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="assets/vendor/moment/min/moment.min.js"></script>
    <script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

    <!-- Hammer.js -->
    <script src="assets/vendor/hammerjs/hammer.min.js"></script>

    <!-- NanoSroller -->
    <script src="assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

    <!-- SoundManager2 -->
    <script src="assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

    <!-- Seiyria Bootstrap Slider -->
    <script src="assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

    <!-- Summernote -->
    <script src="assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

    <!-- nK Share -->
    <script src="assets/plugins/nk-share/nk-share.js"></script>

    <!-- GoodGames -->
    <script src="assets/js/goodgames.min.js"></script>
    <script src="assets/js/goodgames-init.js"></script>
    <!-- END: Scripts -->


    <script src="~/js/msg.js"></script>
       <!-- Include the latest version of Solana Web3.js -->
    <!-- Importando buffer antes de solanaweb3.js -->
    <script src="js/solana-web3-bundle.js"></script>


    


<script>
    console.log("Buffer:", Buffer);
console.log("Buffer.from exists:", typeof Buffer.from === "function");


</script>


    <script src="~/js/solanawallet.js?a=@Guid.NewGuid().ToString()"></script>
    <script src="~/js/solana-transactions.js?a=@Guid.NewGuid().ToString()"></script>
   
    <script type="text/javascript">
        var onloadCallback = function () {
            console.log("grecaptcha is ready!");
        };
    </script>

    <script>
        function carregarScripts() {
            var pastaScripts = 'assets/';

            var scripts = [
                'vendor/object-fit-images/dist/ofi.min.js',
                'vendor/gsap/src/minified/TweenMax.min.js',
                'vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js',
                'vendor/popper.js/dist/umd/popper.min.js',
                'vendor/bootstrap/dist/js/bootstrap.min.js',
                'vendor/sticky-kit/dist/sticky-kit.min.js',
                'vendor/jarallax/dist/jarallax.min.js',
                'vendor/jarallax/dist/jarallax-video.min.js',
                'vendor/imagesloaded/imagesloaded.pkgd.min.js',
                'vendor/flickity/dist/flickity.pkgd.min.js',
                'vendor/photoswipe/dist/photoswipe.min.js',
                'vendor/photoswipe/dist/photoswipe-ui-default.min.js',
                'vendor/jquery-validation/dist/jquery.validate.min.js',
                'vendor/jquery-countdown/dist/jquery.countdown.min.js',
                'vendor/moment/min/moment.min.js',
                'vendor/moment-timezone/builds/moment-timezone-with-data.min.js',
                'vendor/hammerjs/hammer.min.js',
                'vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js',
                'vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js',
                'vendor/bootstrap-slider/dist/bootstrap-slider.min.js',
                'vendor/summernote/dist/summernote-bs4.min.js',
                'plugins/nk-share/nk-share.js',
                'js/goodgames.min.js',
                'js/goodgames-init.js',
               
            ];

            scripts.forEach(function (script) {
                var scriptElement = document.createElement('script');
                scriptElement.src = pastaScripts + script;

                // Adiciona um evento onload para garantir que o código seja executado quando o script for carregado
                scriptElement.onload = function () {
                    //console.log(script + ' carregado com sucesso!');
                    // Adicione aqui qualquer código que você deseja executar após o carregamento do script
                };

                document.head.appendChild(scriptElement);
            });
        }

        carregarScripts();
    </script>
    <script>
        var recaptchaWidgetId;

    var recaptchaWidgetId = null;

    // Função para renderizar o reCAPTCHA com sua chave do site
    function renderRecaptcha() {
        if (typeof grecaptcha !== 'undefined') {
            recaptchaWidgetId = grecaptcha.render('recaptcha-container', {
                'sitekey': '6Lf-wUkqAAAAAHZ7VrkD3gesvGQI910fKmaeOYPN' // Sua chave do site
            });
        } else {
            console.error('reCAPTCHA não foi carregado corretamente.');
        }
    }

    // Função para obter o token do reCAPTCHA
    function getRecaptchaResponse() {
        if (typeof grecaptcha !== 'undefined' && recaptchaWidgetId !== null) {
            return grecaptcha.getResponse(recaptchaWidgetId);
        } else {
            console.error('reCAPTCHA não foi carregado corretamente.');
            return '';
        }
    }
</script>
   

</body>
</html>
