@page "/Carrace"
@inject IJSRuntime JS
@using Ethereum.MetaMask.Blazor;
@using Microsoft.AspNetCore.Components
@using NFT_JOGO
@using NFT_JOGO.Data
@using NFT_JOGO.EntityModel
<PageTitle>Counter</PageTitle>
@inject IMetaMaskService MetaMaskService
@inject IMetaMaskService MetaMaskService
@inject IConfiguration Configuration

<h3>MetaMask Integration with Blazor</h3>

<button @onclick="RequestAuthorization">Request Authorization</button>

<h1>
    @CarteiraUsuario
</h1>

@code {

    public string CarteiraUsuario { get; set; }

    private async Task RequestAuthorization()
    {

        var accounts = await MetaMaskService.ConnectAsync();

        // Faça algo com os endereços de conta, se necessário

        CarteiraUsuario = accounts;

        UsuarioService objService = new UsuarioService(Configuration);

        var User = await objService.GetUsuarioByWallet(CarteiraUsuario);

        if(User == null)
        {
            //  =====  Usuário não cadastrado.
            var objUser = new Usuario();

            objUser.CarteiraEndereco = CarteiraUsuario;
            objUser.DataAtualizacao = DateTime.Now;
            objUser.NomeJogador = "GigaDigito@Teste";

            var Result = await objService.AddUsuario(objUser);

            if (Result == "OK")
            {
               var teste = 1;
            }

        }

    }
}
